<div class="row">
  <h4 class="col-md-12">Account Settings</h4>

  	<div class="input col-md-12">
      <!-- Name -->
      <label>Name</label>
      <div>
        <input class="col-md-12" type="text" id="name" data-ng-model="user.name" placeholder="Name" required>
      </div>
    </div>

    <div class="input col-md-12">
      <!-- Email -->
      <label>Email Address</label>
      <div>
        <input class="col-md-12" type="email" id="email" data-ng-model="user.email" placeholder="Email" required>
      </div>
    </div>

    <div class="input col-md-12">
      <!-- Buttons -->
   	  <div>
        <button class="btn btn-primary" data-ng-click="updateAccountInfo();">Update Settings</button>
        <button class="btn btn-danger" data-ng-click="deactivateAccount();">Deactivate Account</button>
      </div>
    </div>

    <hr class="col-md-12">
    <h4 class="col-md-12">Change Password</h4>

      <div class="input col-md-12">
        <!-- Old Password -->
        <label>Old Password</label>
        <div>
          <input class="col-md-12" type="password" id="oldPassword" data-ng-model="user.oldPassword" placeholder="Old Password" required>
        </div>
      </div>

      <div class="input col-md-12">
        <!-- New Password -->
        <label>New Password</label>
        <div>
          <input class="col-md-12" type="password" id="newPassword" data-ng-model="user.newPassword" placeholder="New Password" required>
        </div>
      </div>

      <div class="input col-md-12">
        <!-- Retype New Password -->
        <label>Re-type New Password</label>
        <div>
          <input class="col-md-12" type="password" id="retypeNewPassword" data-ng-model="user.retypeNewPassword" placeholder="Re-type New Password" required>
        </div>
      </div>

      <div class="input col-md-12">
        <!-- Buttons -->
        <div>
          <button class="btn btn-primary" data-ng-click="">Update Password</button>
        </div>
      </div>
  <!-- <h4 class="col-md-12">User Cards</h4>
    <div class="input col-md-12">
      <div ng-repeat="card in cards">
        {{card.id}}
      </div>
    </div> -->

</div>
