<div class="row">
  <h4 class="col-md-12">Account Settings</h4>

  	<div class="input col-md-12">
      <!-- Name -->
      <label>Name</label>
      <div>
        <input class="col-md-12" type="text" id="name" data-ng-model="newName" placeholder="Name" required>
      </div>
    </div>

    <div class="input col-md-12">
      <!-- Email -->
      <label>Email Address</label>
      <div>
        <input class="col-md-12" type="email" id="email" data-ng-model="newEmail" placeholder="Email" required>
      </div>
    </div>

    <div class="input col-md-12">
      <!-- Email -->
      <label>Retype Email Address</label>
      <div>
        <input class="col-md-12" type="email" id="email" data-ng-model="newEmailRetype" placeholder="Email" required>
      </div>
    </div>

    <div class="input col-md-12">
      <!-- Buttons -->
   	  <div>
        <button class="btn btn-primary" data-ng-click="updateAccountInfo();">Update Settings</button>
        <button class="btn btn-danger" data-ng-click="deactivateAccount();">Deactivate Account</button>
      </div>
    </div>

    <hr class="col-md-12">
    <h4 class="col-md-12">Change Password</h4>

      <div class="input col-md-12">
        <label>Old Password</label>
        <div>
          <input class="col-md-12" type="password" id="oldPassword" data-ng-model="oldPassword" placeholder="Old Password" required>
        </div>
      </div>

      <div class="input col-md-12">
        <label>New Password</label>
        <div>
          <input class="col-md-12" type="password" id="newPassword" data-ng-model="newPassword" placeholder="New Password" required>
        </div>
      </div>

      <div class="input col-md-12">
        <label>Re-type New Password</label>
        <div>
          <input class="col-md-12" type="password" id="retypeNewPassword" data-ng-model="retypeNewPassword" placeholder="Re-type New Password" required>
        </div>
      </div>

      <div class="input col-md-12">
        <div>
          <button class="btn btn-primary" data-ng-click="resetPassword()">Update Password</button>
        </div>
      </div>

</div>
