<div class="row" ng-controller="accountCtrl">
  <h4 class="col-md-12">Account Settings</h4>

  	<div class="input col-md-12">
      <!-- Name -->
      <label>Name</label>
      <div>
        <input class="col-md-12" type="text" id="name" data-ng-model="user.name" placeholder="Name" required>
      </div>
    </div>

    <div class="input col-md-12">
      <!-- Email -->
      <label>Email Address</label>
      <div>
        <input class="col-md-12" type="email" id="email" data-ng-model="user.email" placeholder="Email" required>
      </div>
    </div>

    <div class="input col-md-12">
      <!-- Buttons -->
   	  <div>
        <button class="btn btn-primary" data-ng-click="placeholderFunction();">Update Settings</button>
        <button class="btn btn-danger" data-ng-click="placeholderFunction();">Delete Account</button>
      </div>
    </div>

</div>
