<div class="row" ng-controller="cardCustomizationCtrl">
  <div class="col-md-12">
    <h3>"{{cardInfo.name}}" Card<h3>
  </div>
  <div class="col-md-8">
    <a class="thumbnail" id="cardContainer">
      <img src="{{cardInfo.imagePath}}">
    </a>
    <h1 class="col-md-12" ng-bind="customizeTextInput" ng-style="customStyle.style" style="font-family: {{selectedFontFamily}};"align="center" id="cardContent" />
  </div>
  <div class="col-md-4">
    <legend>Tools</legend>
    <div class="row customizeCardField">
      <label class="col-md-2">Text:</label>
      <input class="col-md-10" type="text" ng-model="customizeTextInput" required autofocus>
    </div>
    <div class="row customizeCardField">
      <label class="col-md-4">Text Color:</label>
      <div class="dropdown col-md-offset-4">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Color <span class="caret" /></button>
        <ul class="dropdown-menu">
          <li ng-repeat="c in colors" ng-click="changeColor(c); updateCardText();"><a style="color:{{c}};">{{c}}</a></li>
        </ul>
      </div>
    </div>
    <div class="row customizeCardField">
      <label class="col-md-4">Text Font:</label>
      <div class="dropdown col-md-offset-4">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Font <span class="caret" /></button>
        <ul class="dropdown-menu">
          <li ng-repeat="f in fonts" ng-click="changeFont(f); updateCardText();"><a style="font-family:{{f.FontFamily}};">{{f.FontName}}</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <button type="button" class="btn btn-primary col-md-offset-5">Next Step</button>
  </div>
</div>
