<div class="row">
  <div class="col-md-8">
    <a class="thumbnail">
      <img src="http://harrisongreetingcards.net/images/CG14B_Get_Well_Soon_greeting_card.jpg">
    </a>
  </div>
  <div class="col-md-4">
    <legend>Tools</legend>
    <div class="row customizeCardField">
      <label class="col-md-2">Text:</label>
      <input class="col-md-10" type="text" required autofocus>
    </div>
    <div class="row customizeCardField">
      <label class="col-md-4">Text Color:</label>
      <div class="col-md-offset-4" style="background-color:red;width:20px;height:20px;"/>
    </div>
    <div class="row customizeCardField">
      <label class="col-md-4">Text Font:</label>
      <input class="col-md-8" type="text" value="Times New Roman" required autofocus>
    </div>
    <hr>
  </div>
</div>
