<div class="col-md-12">
<form class="form-horizontal">

    <div>
      <legend>Forgot Password</legend>
    </div>

    <div class="signUpField col-md-12">
      <!-- Email -->
      <label>Email Address</label>
      <div>
        <input class="col-md-12" type="email" id="email" data-ng-model="email" placeholder="eg. jsmith@example.com" required>
      </div>
    </div>

    <div class="signUpField col-md-12">
      <!-- Confirm Email -->
      <label>Confirm Email Address</label>
      <div>
        <input class="col-md-12" type="email" id="confirmEmail" data-ng-model="confirmEmail" placeholder="eg. jsmith@example.com" required>
      </div>
    </div>

    <div class="signUpField col-md-12">
      <!-- Register Button -->
      <div>
        <button class="btn btn-success" data-ng-click="passwordReset();">Send Password Reset</button>
      </div>
    </div>

</form>
</div>
