<div class="jumbotron">
    <h2>Scooper Cards</h2>
    <p>Send eCards to family and friends for every occasion!</p>
</div>

<div class="container">
  <h2>Popular Cards</h2>
  <div class="row" ng-show="!user.name">
    <div class="col-md-4" ng-repeat="t in templates">
      <a href="#" class="thumbnail" ui-sref="app.cardCustomization({cardID: t.id})">
        <p>{{t.name}}</p>
        <img src="{{t.imagePath}}" alt="{{t.name}}" style="height:250px">
      </a>
    </div>
  </div>
  <div class="row" ng-show="user.name">
    <div class="col-md-4" ng-repeat="t in templates">
      <a href="#" class="thumbnail" ui-sref="app.cardCustomization({cardID: t.id})">
        <p>{{t.name}}</p>
        <img src="{{t.imagePath}}" alt="{{t.name}}" style="height:250px">
      </a>
    </div>
  </div>
</div>
