<div class="row">

  <h4 class="col-md-12">Sent Cards:</h4>

  <p class="col-md-12" ng-show="!currentlySelectedSentCard.createdAt" style="text-align:center;">No Sent Cards</p>

  <button type="button" class="btn btn-default col-md-1 col-md-offset-2" onclick="$('#sentCardCarousel').carousel('prev')" data-ng-click="lastSentClicked();" ng-show="currentlySelectedSentCard.createdAt">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  </button>

  <div id="sentCardCarousel" class="carousel slide col-md-6" data-ride="carousel" data-interval="0" ng-show="currentlySelectedSentCard.createdAt">
    <div class="carousel-inner" role="listbox">

      <div class="item active">
        <button type="button" class="btn btn-default col-md-1 col-md-offset-11" id=cardContent data-ng-click="deleteCard('0');">
          <span class="glyphicon glyphicon-trash"></span>
        </button>
        <h1 class="col-md-12" align="center" style="color:{{firstSentCard.userCard.headerTextColor}};font-family:{{firstSentCard.userCard.fontFamily}};font-size:large;" id="cardContent">{{firstSentCard.userCard.headerText}}</h1>
        <a href="/#/viewCard/{{firstSentCard.cardId}}"><img src="{{firstSentCard.userCard.cardTemplate.imagePath}}"></a>
      </div>

      <div class="item" ng-repeat="card in sentCards">
        <button type="button" class="btn btn-default col-md-1 col-md-offset-11" id=cardContent data-ng-click="deleteCard($index+1);">
          <span class="glyphicon glyphicon-trash"></span>
        </button>
        <h1 class="col-md-12" align="center" style="color:{{card.userCard.headerTextColor}};font-family:{{card.userCard.fontFamily}};font-size:large;" id="cardContent">{{card.userCard.headerText}}</h1>
        <a href="/#/viewCard/{{card.cardId}}"><img src="{{card.userCard.cardTemplate.imagePath}}"></a>
      </div>

    </div>
  </div>

  <button type="button" class="btn btn-default col-md-1" onclick="$('#sentCardCarousel').carousel('next')" data-ng-click="nextSentClicked();" ng-show="currentlySelectedSentCard.createdAt">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
  </button>

  <div class="col-md-3" ng-show="currentlySelectedSentCard.createdAt">
    <br><br>
    <hr class="col-md-12">
    <p class="col-md-4 statisticsElement">Sent To:</p>
    <p class="col-md-8 statisticsElement">{{currentlySelectedSentCard.toAddress}}</p>
    <p class="col-md-4 statisticsElement">Time Sent:</p>
    <p class="col-md-8 statisticsElement" ng-bind="currentlySelectedSentCard.createdAt | date:'MM/dd/yy h:mm a'">{{currentlySelectedSentCard.createdAt}}</p>
    <p class="col-md-4 statisticsElement">View Count:</p>
    <p class="col-md-8 statisticsElement">{{currentlySelectedSentCard.userCard.views}}</p>
    <hr class="col-md-12">
    <a href="/#/sendCard/{{currentlySelectedSentCard.cardId}}" class="btn btn-primary col-md-8 col-md-offset-2">Re-send This Card</a>
  </div>

</div>

<br />
<hr class="col-md-12">
<br />

<div class="row">

  <h4 class="col-md-12">Received Cards:</h4>

  <p class="col-md-12" ng-show="!currentlySelectedReceivedCard.createdAt" style="text-align:center;">No Received Cards</p>

  <button type="button" class="btn btn-default col-md-1 col-md-offset-2" onclick="$('#receivedCardCarousel').carousel('prev')" data-ng-click="lastReceivedClicked();" ng-show="currentlySelectedReceivedCard.createdAt">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  </button>

  <div id="receivedCardCarousel" class="carousel slide col-md-6" data-ride="carousel" data-interval="0" ng-show="currentlySelectedReceivedCard.createdAt">
    <div class="carousel-inner" role="listbox">

      <div class="item active">
        <h1 class="col-md-12" align="center" style="color:{{firstReceivedCard.userCard.headerTextColor}};font-family:{{firstReceivedCard.userCard.fontFamily}};font-size:large;" id="cardContent">{{firstReceivedCard.userCard.headerText}}</h1>
        <a href="/#/viewCard/{{firstReceivedCard.cardId}}"><img src="{{firstReceivedCard.userCard.cardTemplate.imagePath}}"></a>
      </div>

      <div class="item" ng-repeat="card in receivedCards">
        <h1 class="col-md-12" align="center" style="color:{{card.userCard.headerTextColor}};font-family:{{card.userCard.fontFamily}};font-size:large;" id="cardContent">{{card.userCard.headerText}}</h1>
        <a href="/#/viewCard/{{card.cardId}}"><img src="{{card.userCard.cardTemplate.imagePath}}"></a>
      </div>

    </div>
  </div>

  <button type="button" class="btn btn-default col-md-1" onclick="$('#receivedCardCarousel').carousel('next')" data-ng-click="nextReceivedClicked();" ng-show="currentlySelectedReceivedCard.createdAt">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
  </button>

  <div class="col-md-3" ng-show="currentlySelectedReceivedCard.createdAt">
    <br><br>
    <hr class="col-md-12">
    <p class="col-md-4 statisticsElement">Sender:</p>
    <p class="col-md-8 statisticsElement">{{extractEmailAddress(currentlySelectedReceivedCard.fromAddress);}}</p>
    <p class="col-md-4 statisticsElement">Time Sent:</p>
    <p class="col-md-8 statisticsElement" ng-bind="currentlySelectedReceivedCard.createdAt | date:'MM/dd/yy h:mm a'">{{currentlySelectedReceivedCard.createdAt}}</p>
    <p class="col-md-4 statisticsElement">View Count:</p>
    <p class="col-md-8 statisticsElement">{{currentlySelectedReceivedCard.userCard.views}}</p>
    <hr class="col-md-12">
  </div>

</div>
