<div class="row">

  <h4 class="col-md-12">Sent Cards:</h4>

  <button type="button" class="btn btn-default col-md-1 col-md-offset-2" onclick="$('#sentCardCarousel').carousel('prev')">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  </button>

  <div id="sentCardCarousel" class="carousel slide col-md-6" data-ride="carousel">
    <div class="carousel-inner" role="listbox">

      <div class="item active">
        <button type="button" class="btn btn-default col-md-1 col-md-offset-11" id=cardContent data-ng-click="deleteCard('0');">
          <span class="glyphicon glyphicon-trash"></span>
        </button>
        <h1 class="col-md-12" align="center" style="color:{{firstSentCard.userCard.headerTextColor}};font-family:{{firstSentCard.userCard.fontFamily}};font-size:large;" id="cardContent">{{firstSentCard.userCard.headerText}}</h1>
        <img src="{{firstSentCard.userCard.cardTemplate.imagePath}}">
      </div>

      <div class="item" ng-repeat="card in sentCards">
        <button type="button" class="btn btn-default col-md-1 col-md-offset-11" id=cardContent data-ng-click="deleteCard($index+1);">
          <span class="glyphicon glyphicon-trash"></span>
        </button>
        <h1 class="col-md-12" align="center" style="color:{{card.userCard.headerTextColor}};font-family:{{card.userCard.fontFamily}};font-size:large;" id="cardContent">{{card.userCard.headerText}}</h1>
        <img src="{{card.userCard.cardTemplate.imagePath}}">
      </div>

    </div>
  </div>

  <button type="button" class="btn btn-default col-md-1" onclick="$('#sentCardCarousel').carousel('next')">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
  </button>

  <div class="col-md-3">
    <br><br>
    <hr class="col-md-12">
    <h5 class="col-md-12">Sender: Adam Smith</h4>
    <h5 class="col-md-12">Time Sent: 3:04pm 04/10/16</h4>
    <h5 class="col-md-12">View Count: 4 Times</h4>
    <hr class="col-md-12">
  </div>

</div>

<br />
<hr class="col-md-12">
<br />

<div class="row">

  <h4 class="col-md-12">Received Cards:</h4>

  <button type="button" class="btn btn-default col-md-1 col-md-offset-2" onclick="$('#receivedCardCarousel').carousel('prev')">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  </button>

  <div id="receivedCardCarousel" class="carousel slide col-md-6" data-ride="carousel">
    <div class="carousel-inner" role="listbox">

      <div class="item active">
        <h1 class="col-md-12" align="center" style="color:{{firstReceivedCard.userCard.headerTextColor}};font-family:{{firstReceivedCard.userCard.fontFamily}};font-size:large;" id="cardContent">{{firstReceivedCard.userCard.headerText}}</h1>
        <img src="{{firstReceivedCard.userCard.cardTemplate.imagePath}}">
      </div>

      <div class="item" ng-repeat="card in receivedCards">
        <h1 class="col-md-12" align="center" style="color:{{card.userCard.headerTextColor}};font-family:{{card.userCard.fontFamily}};font-size:large;" id="cardContent">{{card.userCard.headerText}}</h1>
        <img src="{{card.userCard.cardTemplate.imagePath}}">
      </div>

    </div>
  </div>

  <button type="button" class="btn btn-default col-md-1" onclick="$('#receivedCardCarousel').carousel('next')">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
  </button>

  <div class="col-md-3">
    <br><br>
    <hr class="col-md-12">
    <h5 class="col-md-12">Sender: Adam Smith</h4>
    <h5 class="col-md-12">Time Sent: 3:04pm 04/10/16</h4>
    <h5 class="col-md-12">View Count: 4 Times</h4>
    <hr class="col-md-12">
  </div>
  
</div>
